header{
	padding: 0 60px 20px 60px;
}

section{
	margin: 0 60px 0 60px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}

pre, code{
	background-color: #eeeeee;
	font-family: courier, monospace;
	font-size: 10px;
}

*{
	font-family: arial, sans-serif;
}

section, p{
	color: #888;
}

h1, h2, h3, h4, h5 {
	color: #043140;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
