
.multibar-slider{
	height: 60vh;
	width: 100px;
	overflow-y: hidden;
}

.multibar-slider .bucket-collection{
	height: 100%;
	width: 90%;
	margin-left: 5%;
}

.multibar-slider .bucket{
	position: relative;
	color: white;
	background-color: #eeeeee;
}

.multibar-slider .bucket span{
	position: absolute;
	top: 5px;
	height: 20px;
	width: 100%;
	text-align: center;
}

.multibar-slider .bucket .handle{
	position: absolute;
	bottom: 0px;
	left: -5%;
	right:-5%;
	height: 8px;
	background-color: gray;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.2s;
	z-index: 1;
}

.multibar-slider.touch-enabled .bucket .handle{
	height: 48px;
}

.multibar-slider.touch-enabled .bucket .handle:hover{
	height: 52px;
}

.multibar-slider .bucket .handle:hover{
	height: 12px;
	margin-bottom: -2px;
}


.multibar-slider .bucket:last-child .handle{
	display: none;
}

.multibar-slider .dragging .bucket.active{
	font-weight: bold;
}

.multibar-slider .dragging .bucket:not(.active){
	opacity: 0.2;
}

.multibar-slider .dragging .bucket.active .handle{
	background-color: black;
	height: 12px;
	margin-bottom: -2px;
	cursor: pointer;
}

.multibar-slider.touch-enabled .dragging .bucket.active .handle{
	height: 52px;
	width: 170%;
	box-shadow: 0px 5px 15px #888888;
	left: -35%;
	right: -35%;
}

@media screen and (max-width:966px) {
   .multibar-slider {
   	width: 150px !important;
   }
}

